.House-Done{

    display: grid;
   grid-template-columns: 1fr 1fr;
padding:70px 50px 0px 50px ;
 
}

.Baggy{
    background-image: url(../../assets/img/wp8371852-minimal-code-wallpapers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 45%;
    position: absolute;
    transition: all 0.5s ease-out;
    opacity: 90%; 
}

.Baggy:hover{
    scale: 110%;
    transition: all 0.5s ease-in;
    opacity: 100%;
    z-index: 9;
}

.Work1{
    background-image: url(../../assets/img/pexels-shvets-production-7191981.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    height: 300px;
    width: 55%;
    float: right;
    position: relative;
    transition: all 0.5s ease-out;
    opacity: 90%;
}

.Work1:hover{
    scale: 110%;
    transition: all 0.5s ease-in;
    z-index: 9;
    opacity: 100%;
    width: 100%;
}


.Work2{
    background-image: url(../../assets/img/IMG_0169.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 35%;
    float: right;
    margin-top: 180px;
    margin-left: 20px;
    position: absolute;
    transition: all 0.5s ease-out;
    opacity: 90%;}

.Work2:hover{
    scale: 110%;
    transition: all 0.5s ease-in;
    opacity: 100%;
    z-index: 9;
    width: 45%;
}


.Header-Done{
    font-size: 30px;
}

.hrRater{
    margin: 100px 0px 0px 0px;
 

}

.Liner1{
    margin: 0px;
    border: 1px solid #de8727;
    padding-left: 2px;
    padding-right: 5px;
border-radius: 10px;
    

}

.hrRater1{
padding: 0px;
margin: 0px;
height: 2px;
color: #de8727;
border: none;
outline: none;
text-decoration: none;
animation: anim 6s alternate infinite;
background-color: white;
}

.Done-Left{
    margin-top: 60px;
   margin-left: 50px;
   position: relative;
}

.Done-Left-Packer h1{
font-size: 20px;
}

@keyframes anim {
    0% {
width: 0%;
    }
    100% {
        width: 80%;
        background-color: #ff8400;
            }
}

