.foooter-container{
    height: 17.8%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: none;
}

.footer-parent{
    width: 100%;
    height: 100%;
    max-width: 1920px;
}

.footer-parent img{
    width: 100%;
    max-width: 100%;
    height: 130px;
}

.Photo{
    background-image: url('../../assets/img/see.png');
    background-position-x: left;
    position: relative;

background-repeat: no-repeat;
background-size: cover;
}

@media only screen and (max-widht: 1110px){
    .footer-parent{
        display: flex;
        align-items: flex-end;
    }
}