.Profile-container{
    margin-top: 40px;
    margin-bottom: 0px;
    display: flex;
    text-align: center;
    height: 10%;
    justify-content:center;
}

.Profile-parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    color: aliceblue;
}

.Profile-details-name{
    font-size: 24px;
}

.Profile-details-role{
    display: flex;
    flex-direction: column;
    margin: 14px 0px 24px 0px;
}

.Profile-details-role h1{
    font-size: 40px;
}

.Primary-text{
    color: white;
    font-size: 20px;
}

.highlited-text{
    color: #ff8400;
}

.profile-role-tagline{
    font-size: 19px;
    margin-top: 5px;
    animation: changer1 15s linear infinite;
}

@keyframes changer1 {
    0%{
    color: #fff;
    }
    50%{
        color: #ff8400 ;
    }
    100%{
        color: #fff;
    }
}

.profile-role-tagline-spanner{
    font-size: 19px;
    margin-top: 5px;
    color: #ff8400;
    animation: changer2 15s linear infinite;
}

@keyframes changer2 {
    0%{
        color: #ff8400 ;
    }
    50%{
        color: #fff;
    }
    100%{
        color: #ff8400 ;
    }
}


.Profile-Options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttonz{
    width: 150px;
    background-color: #1f2235;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #fff;
   border-radius: 20px;
   transition: all 0.25s ease-in;
   
}
.buttonz:hover{
    transition: all 0.25s ease-in;
    border: 1px solid #ff8000 ;
    background-color: #ff8000;
}


.btn2{
    font-weight: bold;
    background-color: #ff8000;
    text-decoration: none;
    outline: none;
    border-radius: 40px;
    color: aliceblue;
    padding: 16px 26px 19px 26px;
    font-size: 1rem;
    border: 1px solid #ff8000;
    transition: border  0.3s ease-out;

}

.btn2:hover{
    transition: border 0.3s ease-in;
    border: 1px solid #1f2235 ;
}

.profile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 0px 0px #ffffff;
    border-radius: 50%;
    height: 310px;
    width: 310px;


}

.picture-background{
    height: 92%;
    width: 92%;
    background-image: url(../../assets/img/IMG_0169.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;   
    transition: 1s ease-in;


}   

.picture-background:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
}
 
.colz .colz-icon a i{
    color: white;
    padding: 9px;
    padding-left: 0px;
    transition: 0.2s ease-in;

}
 
.colz .colz-icon a i:hover{
    transform: scale(1.2);
    transition: 0.2s ease-in-out;

}

/* Media */
@media screen and (max-width:1110px){

    .profile-picture{
        margin: 0px 0px 0px 80px;
    }
    .Profile-details-name{
        font-size: 20px;
    }
    .Profile-details-role, .primary-text{
        font-size: 12px;
    }
    .btn, .btn2{
        width: 120px;
        padding: 11px 0px;
        z-index: 700;
    }
}

@media screen and (max-width:910px){
    .profile-picture{
   
        height: 290px;
        background-color: red;

    }
    .Profile-container{
       margin-top: 90px;
       padding-left:20px ;
       padding-right:20px ;
}

}
@media screen and (max-width:810px){
    
    .Profile-parent{
        flex-direction: column-reverse;
        margin: 0px 0px 0px 0px;
    }
    .Profile-Options{
        display: flex;
        justify-content: space-between;
    }
    .Profile-details{
        margin: 25px 0 0;
    }
    .btn,.btn2{
        margin: 0!important;
    }
    .Profile-details-name,.Profile-details-role{
        text-align: center;
    }
    .profile-picture{
   

        background-color: yellow;

    }
} 


@media screen and (max-width:510px){
    .profile-picture{
   

        background-color:green;

    }
}

@media screen and (max-width:375px){
    .profile-picture{
        height: 275;
        width: 275px;
        margin-top: -90px;
    }
    .Profile-details{
        width: 90%;
    }
}
